@model BGL.Web.ViewModels.UserRepositorySearchViewModel
@{
    ViewBag.Title = @HomePageView.HomePageTitle;
}

@using Airborne.Notifications;

<div class="row">
    <div class="col-md-4">
        <p>
            @HomePageView.SearchForUserSectionTitle
        </p>
        @if (Model.IsNotNull() && Model.Notifications.Any())
        {
            foreach (var notification in Model.Notifications)
            {
                <div>@notification.Text</div>
            }
        }
        @using (Html.BeginForm("Index", "GitUsers", FormMethod.Get))
        {
            @Html.ValidationSummary(true)
            @Html.TextBoxFor((model) => model.Username)
            <input type="submit" title="Search"/>

            @Html.ValidationMessageFor((m) => m.Username)
        }
    </div>
</div>