@model BGL.Web.ViewModels.UserRepositoriesViewModel

@{
    ViewBag.Title = "UserRepositories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserRepositories</h2>

<div>
    <h4>User details</h4>
    <hr />
    <ul>
        <li>@Html.LabelFor((m) => m.User.Name): @Model.User.Name</li>
        <li>@Html.LabelFor((m) => m.User.Location): @Model.User.Location</li>
        <li>@Html.LabelFor((m) => m.User.AvatarUrl): @Model.User.AvatarUrl</li>
    </ul>
    
    <dlv class="dl-horizontal"></dlv>
    <div>
        @if (!Model.Repositories.Any())
        {
            <p>
                There are no repositories to be displayed.
            </p>
        }

        @if (Model.Repositories.Any())
        {
            <p>
                Users repositories
            </p>
         <ol>
            @foreach (var repo in Model.Repositories)
            {
                <li>@repo.Name - @repo.StargazersCount</li>
            }
        </ol>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
